@import url("https://fonts.googleapis.com/css2?&family=Redressed&family=Satisfy&family=Nunito+Sans:wght@200&family=Open+Sans:wght@300");
:root{
    --color-primario: #845EC2;
    --color-primario2: #00C9A7;
    --color-hover: #10a8a0;
    --color-secundario2: #FEFEDF;
    --color-form: #E7F0F0;
    --input-bg:  #D8DCDC;
    --color-texto: #FAF7FA;
    --color-fondo: #0E090D;
    --fuente-primaria: 'Satisfy', cursive;
    --fuente-primaria1: sans-serif;
}