@import url(/css/colorsheme.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	width: 100%;
	height: 68px;
	padding: 1rem;
}
header div.container {
	display: flex;
	justify-content: space-between;
}
div.container p {
	font-family: var(--fuente-primaria);
	font-size: clamp(1.4rem, 2vw, 2rem);
}
div.container a {
	color: #000;
	text-decoration: none;
}
nav {
	width: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--fuente-primaria1);
	font-size: clamp(1rem, 1.5vw, 1.75rem);
}
nav li{
	list-style: none;
}
nav li {
	display: inline-block;
	margin-right: 2.5rem;
}
nav li:hover {
	cursor: pointer;
	color: var(--color-primario);
}
nav li:first-child a:hover{
	cursor: pointer;
	color: var(--color-primario);
}

.nav_subMenu{
	position: absolute;
	display: none;
	width: 90px;
	background-color: var(--color-bg);
    opacity: 81%;
	transition: opacity 0.6s ease;
	padding: 0.5rem;
}
/* .nav_subMenu li a:hover {
	cursor: pointer;
	color: var(--color-primario);

} */
.nav_content li:hover .nav_subMenu{
	display: block;
	
}

.nav_subMenu .nav_subMenu {
	display: block;
}

.user_Cart i:hover {
	cursor: pointer;
	color: var(--color-primario);
}
.banner img {
	width: 100%;
}
/* section outfit */
section {
	margin-top: 5rem;
}
section h2 {
	text-align: center;
	margin-bottom: 1rem;
	font-size: clamp(1.5rem, 3vw, 2rem);
}
.section_outfit {
	display: flex;
	justify-content: space-evenly;
}
.section_outfits {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
}
.btn_outfit {
	width: 150px;
	height: 68px;
	margin: 0 auto;
	margin-top: 3rem;
}
.btn {
	display: flex;
	align-items: center;
	color: rgb(5, 5, 5);
	background: none;
	border: none;
	padding: 20px 18px;
	position: relative;
	font-size: 1rem;
}
.btn::before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateY(calc(100% + 4 px));
	width: 30px;
	height: 30px;
	background: var(--color-primario2);
	border-radius: 50px;
	transition: transform 0.25s 0.25s cubic-bezier(0, 0.5, 2),
		width 0.25s cubic-bezier(0, 0, 0.5, 2);
	z-index: -1;
}
.btn:hover::before {
	width: 100%; /*abarca el 100% del boton*/
	transform: translateY(-40%) translateX(-18px);
	transition: transform 0.25s cubic-bezier(0, 0, 0.5, 2),
		width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}
.btn i {
	margin-left: 5px;
	transition: transform 0.25s 0.4s cubic-bezier(0, 0.5, 2);
}
.btn:hover i {
	transform: translateX(3px);
}
/* section promo */
div.img_sale {
	display: flex;
	margin-top: 2rem;
	justify-content: space-evenly;
	width: 100%;
}
.section_promo h2 {
	text-align: center;
}
.row_container_fem {
	display: flex;
	justify-content: space-evenly;
}
.row_titulo_fem {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0.3rem;
}
.row_titulo_fem p {
	margin: 0 auto;
	margin-top: 0.5rem;
}
.row_desc {
	display: flex;
	justify-content: space-evenly;
}
.row_desc p {
	margin: 0 auto;
}
/* section masculina */
.row_container_masc {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;
}
.row_titulo_masc {
	display: flex;

	justify-content: space-evenly;
	margin-top: 0.3rem;
}
.row_titulo_masc p {
	margin: 0 auto;
}
.row_desc_precio {
	display: flex;
	justify-content: space-evenly;
}
.row_desc_precio p {
	margin: 0 auto;
}
.btn_buy {
	display: flex;
	justify-content: center;
	margin-top: 1.8rem;
}
.btn_buy button {
	padding: 0.7rem;
	border: none;
	border-radius: 5px;
	color: #000;
	background-color: var(--color-primario2);
}
.btn_buy button:hover {
	color: var(--color-secundario2);
	cursor: pointer;
	background: var(--color-hover);
	transition: ease-out 0.2s;
}

.btn-contactar {
	position: relative;
	display: inline;
	cursor: pointer;
	margin: 0.1rem;

}
.btn-contactar .tooltip{
	       visibility: hidden;/*ocultar*/
            background-color: var(--tooltip-bg);
            color: var(--color-whatsapp);
            text-align: center;
            border-radius: 6px;
            padding: 5px 5px;
            position: absolute;
            z-index: 1;
             left: 100%; 
			 top: 30%;
            opacity: 0;
            transition: opacity 0.3s ease;
}

div.btn-contactar:hover .tooltip {
	visibility: visible;
	opacity: 1;
	filter: opacity(95%);
	-webkit-filter: opacity(95%);
	-moz-filter: opacity(95)
} 
footer {
	display: flex;
	justify-content: center;
	height: 75px;
	background-color: var(--color-fondo);
	color: var(--color-texto);
	margin-top: 3rem;
}
.container-footer {
	display: flex;
	align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
	/* para resoluciones moviles */
	
	nav {
		display: flex;
		justify-content: center;
	    flex-direction: row;
	
	}
	.nav_content {
       flex: 1;
	   position: relative;
	   left: 1rem;
	}
	.nav_content li:nth-child(n+4){
		display: none;
	}
	
	.user_Cart {
		display: none;
	}
	.section_outfit {
		flex-direction: column;
		justify-content: center;
		max-width: 300px;
		margin: 0 auto;
	}
	.section_outfit img {
		padding-bottom: 1rem;
	}
	.section_outfit img:not(1) {
		padding-bottom: none;
	}
	.section_outfits {
		display: flex;
		flex-direction: column;
	}
	.section_outfits img {
		margin: 0 auto;
		padding-bottom: 1rem;
	}
	.section_outfits img:not(1) {
		padding-bottom: none;
	}
	div.img_sale img {
		width: 450px;
	}
	.row_container_fem {
		flex-direction: column;
		width: 300px;
		margin: 0 auto;
	}
	.row_titulo_fem,
	.row_desc {
		display: none;
	}

	.row_container_fem img {
		padding-bottom: 1rem;
	}
	.row_container_fem img:not(1) {
		padding-bottom: none;
	}
	/*section masculina*/

	.row_container_masc {
		flex-direction: column;
		margin: 0 auto;
		width: 300px;
	}
	.row_container_masc img {
		padding-bottom: 1rem;
	}
	.row_container_masc img:not(1) {
		padding-bottom: none;
	}
	.row_titulo_masc,
	.row_desc_precio {
		display: none;
	}
}
